@use 'variables';

.event {
    padding: 80px 0;
    
    &--one {
        background-image: linear-gradient(variables.$pink, variables.$purple1);
    }
    &--two {
        background-image: linear-gradient(variables.$purple1, variables.$gray);
    }
    &--three {
        background-image: linear-gradient(variables.$gray, variables.$pink);
    }
    &--four {
        background-image: linear-gradient(variables.$pink, variables.$gray);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }
    
    &__image {
        width: 380px; 
        height: 240px;
    }

    &__details {

        &__description {
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-bottom: 16px;
            margin-right: 0;
        }
    }
}